.container{
    background-color: blue;
    color:white;
    width:100%;
    margin-bottom:2.5%;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-bottom:1em;
}
a:active{
    color: aquamarine;
}


.divw{
 
    display: grid;
    grid-template-rows: minmax(min-content,max-content) ;
    grid-template-columns:33.3% 33.3% 33.3%;
 


}
 




